BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Left
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: All
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: NonAssignment
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
ColumnLimit: "80"
Cpp11BracedListStyle: true
DerivePointerAlignment: "false"
IndentWidth: 4
IndentAccessModifiers: false
PointerAlignment: Right
ConstructorInitializerIndentWidth: 2
SortIncludes: "true"
QualifierAlignment: Right
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^"[^/]+"
    Priority: 2
    CaseSensitive: false
  - Regex: ^".*"
    Priority: 2
    SortPriority: 3
    CaseSensitive: false
  - Regex: ^<.*\.h.*>
    Priority: 3
    CaseSensitive: false
  - Regex: ^<(cassert|cctype|cerrno|cfenv|cfloat|cinttypes|climits|clocale|cmath|csetjmp|csignal|cstdarg|cstddef|cstdint|cstdio|cstdlib|cstring|ctime|cuchar|cwchar|cwctype)>$
    Priority: 4
    SortPriority: 5
    CaseSensitive: false
  - Regex: ^<.*
    Priority: 4
    SortPriority: 4
    CaseSensitive: false
