language: cpp
sudo: false

compiler:
  - clang

env:
  - CONFIG=Release SHARED=1 CCOMPILE=clang CXXCOMPILE=clang++
  - CONFIG=Release SHARED=0 CCOMPILE=clang CXXCOMPILE=clang++
  - CONFIG=Debug SHARED=1 CCOMPILE=clang CXXCOMPILE=clang++
  - CONFIG=Debug SHARED=0 CCOMPILE=clang CXXCOMPILE=clang++
  - CONFIG=Debug SHARED=0 CCOMPILE=clang CXXCOMPILE=clang++ SANITIZE=address

addons:
  apt:
    sources: &sources
      - ubuntu-toolchain-r-test
      - boost-latest
    packages:
      - clang
      - gcc-4.8
      - g++-4.8
      - libgtest-dev
      - libboost1.55-all-dev

matrix:
  include:

    # g++-5.2
    - compiler: g++
      env: CONFIG=Release SHARED=1 CCOMPILE=gcc-5 CXXCOMPILE=g++-5
      addons:
        apt:
          sources: *sources
          packages:
            - clang
            - gcc-5
            - g++-5
            - libgtest-dev
            - libboost1.55-all-dev

    - compiler: g++
      env: CONFIG=Release SHARED=0 CCOMPILE=gcc-5 CXXCOMPILE=g++-5
      addons:
        apt:
          sources: *sources
          packages:
            - clang
            - gcc-5
            - g++-5
            - libgtest-dev
            - libboost1.55-all-dev

    - compiler: g++
      env: CONFIG=Debug SHARED=1 CCOMPILE=gcc-5 CXXCOMPILE=g++-5
      addons:
        apt:
          sources: *sources
          packages:
            - clang
            - gcc-5
            - g++-5
            - libgtest-dev
            - libboost1.55-all-dev

    - compiler: g++
      env: CONFIG=Debug SHARED=0 CCOMPILE=gcc-5 CXXCOMPILE=g++-5
      addons:
        apt:
          sources: *sources
          packages:
            - clang
            - gcc-5
            - g++-5
            - libgtest-dev
            - libboost1.55-all-dev

cache:
  - apt: true
  - directories:
    - cmake-3.4.0-Linux-x86_64
    - gtest

before_install:
# workaround for not having CMake 3.2
  - if [ ! -d "cmake-3.4.0-Linux-x86_64/bin" ]; then
      wget --no-check-certificate https://cmake.org/files/v3.4/cmake-3.4.0-Linux-x86_64.tar.gz;
      tar -xzf cmake-3.4.0-Linux-x86_64.tar.gz;
    fi
  - export CMAKE=../cmake-3.4.0-Linux-x86_64/bin/cmake
# workaround for gtest not providing its own libraries (sigh)
  - if [ ! -d "gtest/libgtest.a" ]; then
      cd gtest;
      CC=$CCOMPILE CXX=$CXXCOMPILE $CMAKE /usr/src/gtest && make;
      cd ..;
    fi
  - export GTEST_ROOT=$PWD/gtest

before_script:
  - mkdir build
  - cd build
  - CC=$CCOMPILE CXX=$CXXCOMPILE $CMAKE -DCMAKE_BUILD_TYPE=$CONFIG -DBUILD_SHARED_LIBS=$SHARED -DTERMINALPP_SANITIZE=$SANITIZE ..
  - export ASAN_SYMBOLIZER_PATH=`find /usr/lib/llvm* -name llvm-symbolizer`
  - export MSAN_SYMBOLIZER_PATH=`find /usr/lib/llvm* -name llvm-symbolizer`
  - export TSAN_SYMBOLIZER_PATH=`find /usr/lib/llvm* -name llvm-symbolizer`
  - echo SYMBOLIZER_PATHS=${ASAN_SYMBOLIZER_PATH}

script:
  - make -j2
  - make test

after_failure:
  - cat Testing/Temporary/LastTest.log

notifications:
  email:
    on_success: change # [always|never|change] # default: change
    on_failure: change # [always|never|change] # default: always
  slack:
    rooms:
      - kazdragon:E8B4Cs4p3TiVLqHAq8wYYTr3#ci
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/4812102d2070137f8429
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
